
@charset"UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A4ABE1;
    margin: 0;
}

header{
    background-color:#636687;
    padding: 10px;
    margin: 0px;
    border:0 ;
    text-align: center;
}

nav{
    color: aliceblue;
    text-align: left;
    box-shadow: 3px;
    font-weight: bold;
    margin-right: 30px;
    border: 10px;
    padding-left: 90px;
    
}

main{
    background-color: white;
    padding: 10px;
    margin: 0px 90px 10px 90px;
    border-radius: 0px;
}

h2{
    color:#636687;
    font-family: 'Gajraj One', cursive;
    background-color: rgba(120, 130, 177, 0.562);
    
}

h1#five{
    text-align: center;
    
}
h1#cor {
    color:#4852A8;
    font-family: 'Gajraj One', cursive;
    text-align: center;
}

h1{
    color: aliceblue;
}

p#cor{
    color: aliceblue;
    text-align: center;
}

a{
    color: aliceblue;
}

div{
    text-align: center;
}

p{
    text-align:justify;
}

img {
    text-align: center;
    width: 35%;
}
iframe#tamanho{
    width: 35%;

}


td#centralizar{
    text-align: center;
}

p#centralizar{
    text-align: center;
    
}

p#enquadramento{
    text-align:right;

}

table{

    background-color:#ffffff;
    border-style: hidden;
    padding: 10px 1px 1px 1px;
    margin: 0px 0px 8px 0px;
    border-radius: 10px 10px 10px 10px;
    text-align: left;

}

div {
    background-color: white;
    border-style: hidden;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 8px 0px;
    border-radius: 10px 10px 10px 10px;
    text-align: left;

  
}

a#left{
    right: auto;
}
a{

    padding: 10px;
    margin: 0px;
    border: 10px 10px 10px 10px;
}

article{
    background-color: #f7f7fa;
    padding: 0px 3px 1px 1px;
    border-radius: 10px 10px 10px 10px;
    text-align: auto;
    color: black;
}

h1#cores{
    background-color: #4852A8;
    border-radius: 10px 10px 10px 10px;
    text-align: justify;
}

footer{
    border-style: hidden;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 15px;
}