{%load static%}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming news</title>
    <link rel="shortcut icon" href="imagens/rhino.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'CSS/noticias_e_historia.css'%}">
</head>

<body>
{%include 'pags/navbar.html'%}
    <main>
        <h1 id="cor">Novas noticias do Mundo dos Games</h1>

        {%for noticia in noticias%}
        <h2>{{noticia.titulo}}</h2>
        <a href="noticia/{{noticia.id}}" style="text-decoration: none; color: black;">
            <table>
                <tr>
                    {%for key, value in video.items%}
                        {%if key == noticia.id%}
                            
                            <td><iframe width="560" height="315"
                                src={{value}}
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            <td>

                        {% endif %}
                    {%endfor%}

                   {%for key, value in texto.items%}
                        {%if key == noticia.id%}
                            <td><p>{{value}}</p></td>
                        {% endif %}
                   {%endfor%}
                </tr>
            </table>
        </a>
        {%endfor%}
        
        <article>
            <h1 id="cores">Quer saber mais?</h1>
            <p>Outras curiosidades sobre o mundo dos Games</p>
            <p>
            <ol>
                <p>
                    <li>Em 1958, William Higinbotham criou o primeiro jogo para computadores em um laboratório militar
                        no Estado de Nova York, EUA. Em “Tênis para Dois”, duas barras servem de raquete e um ponto
                        piscando no meio da tela representa a bola. Mas o primeiro videogame doméstico começou a ser
                        vendido nos Estados Unidos 14 anos depois. Seu nome era Odyssey. O Atari lançou seu aparelho em
                        1973.</li>
                </p>
                <p>
                    <li>A Mattel lançou o Intellivision, de 16 cores, em 1979. O aparelho ficou mais conhecido como um
                        videogame “adulto”, por causa de seus jogos de esportes e estratégia. Em 1984, a Mattel teve que
                        pagar uma indenização por propaganda enganosa. Ao lançar o Intellivision, havia anunciado que,
                        com um teclado acoplado, o console se transformaria em um computador.</li>
                </p>
                <p>
                    <li>O designer Shigeru Miyamoto, da Nintendo, desenvolveu o Donkey Kong, para máquinas de fliperama,
                        em 1981. O jogador controlava um pedreiro ou carpinteiro, que mais tarde seria conhecido como o
                        encanador Mario, do Mario Bros, que lutava contra um gorila. No mesmo ano, Toru Iwatani criou o
                        jogo Pac-Man.</li>
                </p>
                <p>
                    <li>Em 1983, A Atari pagou 23 milhões de dólares pelos direitos do filme “E.T. – O Extraterrestre”
                        (1982), para produzir um joguinho. A novidade não emplacou. Reza a lenda que a empresa enterrou
                        500 mil cartuchos no deserto do Novo México.</li>
                </p>
                <p>
                    <li>O videogame só chegou oficialmente ao Brasil em maio de 1983. O Odyssey vendido por aqui tinha
                        35% de peças brasileiras e vinha com 60 cartuchos. Em agosto, do mesmo ano, chegou o Atari 2600,
                        e no fim do ano, o Intellivision.</li>
                </p>
            </ol>
            </p>
        </article>
        <footer>Site criado por <strong>Matheus Ramos e Lucas Souza</strong></footer>
    </main>