{%load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
    <link rel="stylesheet" href="{% static 'CSS/noticias_e_historia.css'%}">
    <script src="{% static 'JAVASCRIPT/post.js'%}"></script>

<body>

{%include 'pags/navbar.html'%}
<main>

    <form action="" method="post" id="dados" enctype="multipart/form-data">
    {% csrf_token %}
        <div id="corpo"></div>
    </form>

    <div id="botoes">
        <button onclick="formulario('subtitulo')">subtitulo</button>
        <button onclick="formulario('paragrafo')">paragrafo</button>
        <button onclick="formulario('youtube')">youtube</button>
        <button onclick="formimg()">imagem</button>
    </div>


    <button onclick="enviar()">enviar</button>

</main>
