{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
    <link rel="stylesheet" href="{% static 'CSS/noticias_e_historia.css'%}">
    <script src="{% static 'JAVASCRIPT/post.js'%}"></script>

<body>
{%include 'pags/navbar.html'%}

<main>
    <h1 id="cor">Informações essenciais</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Titulo">
        <input type="text" name="genero" placeholder="genero">
        <input type="text" name="plataformas" placeholder="plataformas">
        <input type="text" name="desenvolvedor" placeholder="desenvolvedor"><br>
        <input type="submit">
    </form>

</main>


</body>